body {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  line-height: 1.8;
  font-size: 16px;
}

/* header */
.header {
  border-bottom: 1px solid #e4e4e4;
  background-color: #f8f9fa;
}

/* footer */
.footer {
  margin-top: 10px;
  border-top: 1px solid #e4e4e4;
  background-color: #f8f9fa;
}

.navbar {
  margin-bottom: unset;
}

.navbar-toggle .icon-bar {
  background: black;
}

/* brand */
.navbar-brand {
  font-size: 24px;
}

.navbar-brand:first-letter {
  color: #ff6a14;
  font-weight: 700;
}

/* body */
.body {
  margin-top: 10px;
}


/* index */
.index-panel-heading-a {
  padding: 1px 15px;
}

.share-tag-list {
  text-align: left;
  margin: 0 40px;
  font-size: xx-small;
}

.index-share-tag {
  font-size: 12px;
  color: black;
  border-radius: 4px;
  padding: 3px 6px;
  line-height: 1.6;
  border: solid 1px #aeaeae;
}

/* share 分享 */
.share-tag {
  margin: 1px 0;
}

/* share 列表 */
.cell-a-avatar {
  width: 32px;
  height: 32px;
  font-size: 22px;
  background-color: #b11145;
  line-height: 32px;
}
.avatar {
  text-align: center;
}

.media-body .title {
  font-size: 18px;
}

.media-body .gray {
  font-size: 14px;
}

.divide {
  border-top: 1px solid #f5f5f5;
  margin: 10px;
}


.placeholder-body {
  margin: 200px 0;
}

/* body-sidebar */
.body-sidebar {
  /* border: 1px solid #e4e4e4; */
  background-color: #f8f9fa;
  width: 100%;
  padding: 10px;
  margin:5px 0;
}
