body {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  line-height: 1.8;
  font-size: 16px;
}

/* header */
.header {
  border-bottom: 1px solid #e4e4e4;
  background-color: #f8f9fa;
}

.navbar {
  margin-bottom: unset;
}

.navbar-toggle .icon-bar {
  background: black;
}

/* brand */
.navbar-brand {
  font-size: 24px;
}

.navbar-brand:first-letter {
  color: #ff6a14;
  font-weight: 700;
}

/* body */
.body {
  margin-top: 10px;
}