core:
  # develop/stage/production
  env: develop

jwt:
  hmac_secret: 123456

cookie:
  tag: "_t"
  domain: "*"
  secure: false
  http_only: false
  expr_hour: 240

# database config (mysql for example)
database:
  host: 127.0.0.1
  port: 3306
  dbname: apollo
  username: root
  password: 123456
  args: charset=utf8mb4&parseTime=True&loc=Local
  max_idle_conns: 20
  max_open_conns: 15
  row_format_dynamic: false  # for lower version mysql
  log_mod: true

webserver:
  addr: 0.0.0.0:2020
  brand_title: 见周边
  page_title: 探·见周边
  about_content: 看见生活、品鉴生活、推荐生活。
  